@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700|Vollkorn);

// TEMP why does caboose:dev not compile caboose and mixins?
// Import Caboose
@import "caboose";
// Import project mixins
@import "mixins/mixins";

$font-baseline: 16;
$error-color: #D52222;

form {
	width: 30%;
	margin: 20px auto;
	position: relative;

	label,
	fieldset {
		color: #555;
		display: block;
		position: relative;
		padding: 10px 0;

		strong,
		legend {
			font-family: 'Lobster Two', cursive;
			font-size: (18em/$font-baseline);
			line-height: (22em/$font-baseline);
		}

		label strong,
		input {
			font-family: 'Vollkorn', serif;
			font-size: (14em/$font-baseline);
		}

		input,
		select {
			border: 1px solid #ddd;
		}

		label {
			position: static;
		}

		legend {
			padding-top: 10px;
		}

		input {
			color: #555;
			display: block;
			background-color: #fff;
			border-radius: 4px;
			line-height: 1.5em;
			padding: 5px;
			width: 100%;
		}

		&.error {

			input,
			select {
				border-color: $error-color;
			}
		}
	}

	.pull-inline {
		display: inline;

		input {
			display: inline;
			width: auto;
		}
	}

	.tooltip {
		@include transition(opacity 200ms);
		opacity: 0;
		cursor: pointer;
		position: absolute;
		left: -100px;
		bottom: 15px;
		padding-right: 8px;

		span {
			background: #fff;
			color: $error-color;
			font-family: 'Ubuntu Mono', sans-serif;
			font-size: (9em/$font-baseline);
		}

		&:after {
			@include triangle(right, $error-color, 3px);
			content: "";
			position: absolute;
			right: 0;
			top: 7px;
		}

		&.show {
			opacity: 1;
		}
	}

	.btn {
		font-family: 'Lobster Two', cursive;
		background-color: #fff;
		cursor: pointer;
		display: inline-block;
		padding: 6px 12px;
		margin-bottom: 0;
		font-size: 100%;
		text-align: center;
		vertical-align: middle;
		border: 1px solid #adadad;
		border-radius: 4px;
		user-select: none;

		&:hover {
			background-color: #ebebeb;
		}
	}

	.btn-link {
		font-weight: normal;
		color: #428bca;
		border: none;

		&:hover {
			background-color: transparent;
			text-decoration: underline;
		}
	}

	.btn-group {
		border-top: 1px solid #ebebeb;
		margin: 10px 0 0;
		padding: 10px 0 0;
		text-align: right;
	}
}